*{
margin : 1;
padding : 1;
box-sizing : border-box ;
}

header,footer {
text-align : center ;
background-color : lightcoral ;
color : #fff ;
padding : 10 px ;
}
main {
padding : 10 px ;
display : flex ;
justify-content : space-around ;
background-color : lightblue ;
}
#loading {
font-size :20 px ;
font-weight : bold ;
margin :20 px ;
}
table {
border-collapse : collapse ;
width :100%;
margin-top :20 px ;
}
th, td {
padding : 8 px ;
text-align : left ;
border : 1 px solid #ddd ;
}
th {
background-color : #f2f2f2 ;
color : black ;
}
