/* Basic reset */
* {
margin : 0;
padding : 0;
box-sizing : border-box ;
}

/* Styling for the header */
header {
background-color : lightcoral ;
color : white ;
padding : 20 px ;
text-align : center ;
}

/* Styling for the main content */
main {
padding : 20 px ;
display : flex ;
justify-content : space-around ;
background-color : #f9f9f9 ;
}
/* Styling for product and cart sections */
#product-list , #cart {
width : 45%;
}
.product , #cartItems li {
background-color : white;
padding : 10 px ;
margin-bottom : 10 px ;
border : 1 px solid #ddd ;
border-radius : 5 px ;
}

button {
padding : 10 px ;
background-color : lightcoral ;
border : none ;
border-radius : 5 px ;
color : white ;
cursor : pointer ;
}
button:hover {
background-color : darkred ;
}

/* Styling for the total price */
#totalPrice {
font-weight : bold ;
}
/* Styling for the footer */
footer {
text-align : center ;
padding : 10 px ;
background-color : #333;
color : white ;
}
