/* Basic reset */
*{
    margin : 0;
padding : 0;
box-sizing : border-box ;
}

/* Styling for the header */
header , footer {
background-color : lightcoral ;
color : white ;
padding : 20 px ;
text-align : center ;
}

/* Styling for the main content */
main {
padding : 20 px ;
text-align : center ;
background-color : lightblue ;
}

/* Styling for the button */
button {
background-color : lightseagreen ;
border-radius : 10 px ;
border : none ;
padding : 10 px 20 px ;
cursor : pointer ;
margin : 50 px ;
}
button:hover { 
    background-color : greenyellow ;
}
/* Styling TextArea and Input Fields */
textarea , input {
padding : 10 px ;
margin : 10 px ;
border : 1 px solid #ccc ;
border-radius : 5 px ;
width :100%
}
